# Compiled class files
*.class
bin/
*.tmp

# Eclipse
.metadata/
.classpath
.project
.settings/

# IntelliJ IDEA
.idea/
*.iml
out/

# Logs
*.log

# Temporary files
*.bak
*.swp

# C/C++ object files
output/
*.o
*.obj
*.so
*.out
*.exe
